{% extends 'registration/header.html' %}
{% load static %}
{% block content %}

<!-- mobile-container to look like a phone -->
<div class="mobile-container" style="background-color: #24436d;">
    <!-- navigation -->
    <div class="topnav" id="links">
        <button class="icon"><a><img src="{% static 'images/qr.png' %}"></a></button><!--
        --><button class="icon"><a href="/locations"> <img src="{% static 'images/locations.png' %}"></a></button><!--
        --><button class="icon"><a href="/badges"><img src="{% static 'images/badges.png' %}"></a></button><!--
        --><button class="icon"><a href="/settings"><img src="{% static 'images/settings.png' %}"></a></button>
    </div>
    <div id="badges">
        <h1 class="grey">Badges</h1>
        {% if badges %}
        {% for b in badges %}
        <p>
            {{b.badge_name}}
            <img src="../../media/{{b.icon }}">
        </p>
        {% endfor %}
        {% else %}
        <h1>No Data</h1>
        {% endif %}
    </div>
</div>
    
{% endblock %}