{% extends 'registration/header.html' %} <!-- use standard header -->
{% load static %} <!-- for accessing the header images -->
{% block content %} <!-- begin content -->

<!-- mobile-container to look like a phone -->
<div class="mobile-container">
    <!-- navigation bar -->
    <div class="topnav" id="links">
        <!-- link to settings page -->
        <button class="icon"><a href="/settings"><img src="{% static 'images/settings.png' %}"></a></button><!--
        TODO: open camera
        --><button class="icon"><a><img src="{% static 'images/qr.png' %}"></a></button><!--
        link to locations page
        --><button class="icon"><a href="/locations"> <img src="{% static 'images/locations.png' %}"></a></button><!--
        link to badges page i.e. this one
        --><button class="icon"><a href="/badges"><img src="{% static 'images/badges.png' %}"></a></button>

    </div>
    <div id="badges">
        <h1 class="grey">Badges</h1>
        {% if earnedBadges %}
        {% for eb in earnedBadges %}
        <p>
        <img src="../../media/{{ eb.icon }}"style="opacity:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{eb.badge_name}}
        </p>
        {% endfor %}
        {% else %}
        {% endif %}

        {% if badges %}
        {% for b in badges %}
        <p class="incomplete">
        <img src="../../media/{{ b.icon }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{b.badge_name}}
        </p>
        {% endfor %}
        {% else %}
        <h1>No Data</h1> <!-- in case no data was loaded -->
        {% endif %}
    </div>
</div>
    
{% endblock %}
