{% extends 'registration/header.html' %} <!-- use standard header -->
{% block content %} <!-- begin content -->

<!-- mobile-container to look like a phone -->
<div class="mobile-container">
    <!-- add location form from forms.py -->
    <h1 class="white">Delete Location</h1>
    <form method="POST">
        {% csrf_token %}
        {% if locations %}
        <label for="location">Choose a location:</label>
        <select name="location" id="location">
            {% for l in locations %}
            <option value="{{l.id}}">{{l.location_name}}</option>
            {% endfor %}
        </select>
        {% else %}
        No Data
        {% endif %}
        <br>
        <button class="submit" type="submit">Delete</button>
    </form>
</div>

{% endblock %}