{% extends 'registration/header.html' %} <!-- use standard header -->
{% block content %} <!-- begin content -->

<!-- mobile-container to look like a phone -->
<div class="mobile-container">
    <h1 class="white">Delete Badge</h1>
    <form method="POST">
        <!-- does not use a form but uses a loaded list of badges -->
        {% csrf_token %}
        {% if badges %}
        <label for="badge">Choose a badge:</label>
        <!-- create a select option for the badge to be deleted -->
        <select name="badge" id="badge">
            {% for b in badges %}
            <option value="{{b.id}}">{{b.badge_name}}</option>
            {% endfor %}
        </select>
        <br>
        <button class="submit" type="submit">Delete</button>
        {% else %}
        No Data
        {% endif %}
    </form>
</div>

{% endblock %}