{% extends 'registration/header.html' %}
{% load static %}
{% block content %}

<!-- mobile-container to look like a phone -->
<div class="mobile-container" style="background-color: #24436d;">
    <!-- navigation -->
    <div class="topnav" id="links">
        <button class="icon"><a href="/settings"><img src="{% static 'images/settings.png' %}"></a></button><!--
        --><button class="icon"><a><img src="{% static 'images/qr.png' %}"></a></button><!--
        --><button class="icon"><a href="/locations"> <img src="{% static 'images/locations.png' %}"></a></button><!--
        --><button class="icon"><a href="/badges"><img src="{% static 'images/badges.png' %}"></a></button>
        </div>
    <div id="location">
        <h1 class="grey">Welcome
        {% if user %}
        {{user.first_name}}!
        {% else %}
        No Name
        {% endif %}
        </h1>
        <div id="map"></div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmLbmAbTlKJPB5N5bpwef5tfmn5DG_Y8c&callback=initialiseMap" async></script>
        <script src="{% static 'javascript/map.js' %}"></script>
    </div>
</div>

{% endblock %}