{% extends 'registration/header.html' %} <!-- use standard header -->
{% load static %} <!-- for accessing navigation bar images -->
{% block content %} <!-- begin content -->

<head>
    <!-- This includes the import that is required for Google Maps Clustering-->
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
</head>
  

<!-- mobile-container to look like a phone -->
<div class="mobile-container">
    <!-- navigation bar -->
    <div class="topnav" id="links">
        <!-- link to settings page -->
        <button class="icon"><a href="/settings"><img src="{% static 'images/settings.png' %}"></a></button><!--
        TODO: open camera
        --><button class="icon"><a href="/scanning"><img src="{% static 'images/qr.png' %}"></a></button><!--
        link to locations page
        --><button class="icon"><a href="/locations"> <img src="{% static 'images/locations.png' %}"></a></button><!--
        link to badges page
        --><button class="icon"><a href="/badges"><img src="{% static 'images/badges.png' %}"></a></button>
    </div>
    <div class="header-logo"><img src="{% static 'images/logo title.png' %}" class="header-logo"></div>
    <div id="location">
        <h1 class="grey">Welcome
        {% if user %}
        {{user.first_name}}!
        {% else %}
        No Name
        {% endif %}
        </h1>
        <div id="map"></div>
        <!-- script for fetching a mao API from Google -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmLbmAbTlKJPB5N5bpwef5tfmn5DG_Y8c&callback=initialiseMap" async></script>
        <!-- script for styling the map -->
        <script src="{% static 'javascript/map.js' %}" data-lats='{{lats}}' data-lngs='{{lngs}}'></script>
    </div>
</div>

{% endblock %}