{% extends 'registration/header.html' %} <!-- use standard header -->
{% load static %} <!-- for accessing the settings image -->
{% block content %} <!-- begin content -->

    <!-- mobile-container to look like a phone -->
    <div class="mobile-container">
        <!-- navigation bar has only settings -->
        <div class="topnav" id="links">
            <button class="icon"><a href="/settings"><img src="{% static 'images/settings.png' %}"></a></button>
        </div>
        <div class="header-logo"><img src="{% static 'images/logo title.png' %}" class="header-logo"></div>
        <h1 class="grey">Leaderboard</h1>
        <!-- Renders out the leaderboard -->
        {% if player %}
        {% for p in player %}
        <p>
             {{ p.user.username }} {{ p.score }}
        </p>
        {% endfor %}
        {% else %}
        {% endif %}
    </div>

{% endblock %}