{% extends 'registration/header.html' %} <!-- use standard header -->
{% load static %} <!-- for accessing the header images -->
{% block content %} <!-- begin content -->

<!-- mobile-container to look like a phone -->
<div class="mobile-container">
    <!-- navigation bar -->
    <div class="topnav" id="links">
        <!-- link to settings page -->
        <button class="icon"><a href="/settings"><img src="{% static 'images/settings.png' %}"></a></button><!--
        TODO: open camera
        --><button class="icon"><a href="/scanning"><img src="{% static 'images/qr.png' %}"></a></button><!--
        link to locations page i.e. this one
        --><button class="icon"><a href="/locations"> <img src="{% static 'images/locations.png' %}"></a></button><!--
        link to badges page
        --><button class="icon"><a href="/badges"><img src="{% static 'images/badges.png' %}"></a></button>
    </div>
    <div id="location">
        <h1 class="grey">Locations</h1>
        {% if locations %} <!-- checks data was loaded -->
        {% if visits %}
        {% for v in visits %}
        <p class="complete">
           <img src="../../media/{{ v.icon }}"style="opacity:1">
            {{v.location_name}}
        </p>
        {% endfor %}
        {% else %}
        {% endif %}

        {% for l in locations %}
        <p class="incomplete"> <!-- list the location name -->
            <img src="../../media/{{ l.icon }}">
            {{l.location_name}}
        </p>
        {% endfor %}
        {% else %}
        <h1>No Data</h1> <!-- in case no data was loaded -->
        {% endif %}

        

    </div>
</div>
    
{% endblock %}