{% extends 'registration/header.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="mobile-container">
    <!-- login form -->
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        {{ login_form|crispy }}
        <button class="submit" type="submit">Login</button>
    </form>
    <div>
        <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
        <p class="text-center">Forgot <a href="#">password?</a></p>
    </div>
</div>

{% endblock %}