{% extends 'registration/header.html' %} <!-- use standard header -->
{% load static %} <!-- for accessing the settings image -->
{% block content %} <!-- begin content -->
{% load crispy_forms_tags %} <!-- use django's form functionality -->

<!-- mobile-container to look like a phone -->
<div class="mobile-container">
    <!-- login form from forms.py -->
    <h1 class="white">Login</h1>
    <form method="POST">
        {% csrf_token %}
        {{ login_form|crispy }} <!-- load in form -->
        <button class="submit" type="submit">Login</button>
    </form>
    <div>
        <!-- link to registration -->
        <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
        <!-- TODO: implement change password -->
        <p class="text-center">Forgot <a href="#">password?</a></p>
    </div>
</div>

{% endblock %}