{% extends 'registration/header.html' %} <!-- use standard header -->
{% load static %}
{% block content %} <!-- begin content -->

<!-- mobile-container to look like a phone -->
<div class="mobile-container">
    <!-- navigation bar -->
    <div class="topnav" id="links">
        <!-- link to settings page -->
        <a href="/settings"><button class="icon"><img src="{% static 'images/settings.png' %}" class="top-icon"></button></a><!--
        link to home page
        --><a href="/home"><button class="icon icon-selected"><img src="{% static 'images/home.png' %}" class="top-icon"></button></a><!--
        link to locations page
        --><a href="/locations"><button class="icon"><img src="{% static 'images/locations.png' %}" class="top-icon"></button></a><!--
        link to badges page
        --><a href="/badges"><button class="icon"><img src="{% static 'images/badges.png' %}" class="top-icon"></button></a>
    </div>
    <br>
    <div id="qr-reader" style="height: 500px; border: none;"></div>
    <div id="qr-reader-results">
        <form id="form" method="POST" hidden>
            {% csrf_token %}
            <label for="location">Location visited:</label>
            <input type="text" name="location" id="location" readonly>
            <!-- needs more html for showing the question and answers -->
            <div id="question"></div>
            <input type="radio" name="radio" id="radio1"><label class="options" id="option1"> <span class="checkmark"></span> </label><br> 
            <input type="radio" name="radio" id="radio2"><label class="options" id="option2"> <span class="checkmark"></span> </label><br> 
            <input type="radio" name="radio" id="radio3"><label class="options" id="option3"> <span class="checkmark"></span> </label>
            <br>
            <input type="text" name="answer" id="answer" readonly hidden>

            <button class="submit" type="submit">Submit</button>

        </form>
    </div>
    <script src="https://unpkg.com/html5-qrcode"></script>
    <script src="https://raw.githubusercontent.com/mebjas/html5-qrcode/master/minified/html5-qrcode.min.js" type = 'text/javascript'></script>
    <script src="../static/javascript/qrcode.js" type = 'text/javascript'></script>
</div>

<script>
    window.addEventListener("load", function(){
        var image_container = document.getElementById('qr-reader__scan_region');
        var image = image_container.getElementsByTagName('img');
        image[0].src = "{% static 'images/qr.png' %}";
        var link = document.getElementById('qr-reader__dashboard_section_swaplink');
        link.style.visibility = "hidden"
    })
</script>

{% endblock %}