{% extends 'registration/header.html' %} <!-- use standard header -->
{% load static %} <!-- for accessing the settings image -->
{% block content %} <!-- begin content -->

<!-- mobile-container to look like a phone -->
<div class="mobile-container">
    <!-- navigation bar -->
    <div class="topnav" id="links">
        <!-- link to settings page i.e. this one -->
        <a href="/home"><button class="icon icon-selected"><img src="{% static 'images/home.png' %}" class="top-icon"></button></a><!--
        TODO: open camera
        --><a href="/scanning"><button class="icon"><img src="{% static 'images/qr.png' %}" class="top-icon"></button></a><!--
        link to locations page
        --><a href="/locations"><button class="icon"><img src="{% static 'images/locations.png' %}" class="top-icon"></button></a><!--
        link to badges page
        --><a href="/badges"><button class="icon"><img src="{% static 'images/badges.png' %}" class="top-icon"></button></a>
    </div>
    <div id="location">
        <h1 class="grey">Settings</h1>
    </div>
    <!-- display the user's information -->
    <div class="main">
        <div id="user_info">
            <h3 class="grey">User Information </h3>
            <p> Name: 
            {% if user %}
            {{user.first_name}}
            <!-- link to a page where the user chan change their information -->
            <a href="/change"><button class="small" type="change">Change</button></a>
            {% else %}
            No Name
            {% endif %}</p>
            <p> Level: 
            {% if user.player %}
            {{user.player.get_level}}
            {% else %}
            0
            {% endif %}</p>
            <p> Points:
            {% if user.player %}
            {{user.player.score}}
            {% else %}
            0
            {% endif %}  </p>
        </div>
        {% if developer %}
        <div id="edit_users">
            <h3 class="grey">Edit Users</h3>
            <button class="small" type="add_user"><a href="/add_user">New User</a></button>
            <button class="small" type="del_user"><a href="/del_user">Delete User</a></button>
            <button class="small" type="edit_user"><a href="/edit_user">Edit User</a></button>
        </div>
        <br>
        {% else %}
        {% endif %}
        <!-- display the badges they've earned, in a list with icons -->
        <div id="badges_earned">
            <h3 class="grey">Badges earned </h3>
            <!-- check the user has permissions to edit badges -->
            {% if permission %}
            <button class="small" type="add_badge"><a href="/add_badge">New Badge</a></button>
            <button class="small" type="del_badge"><a href="/del_badge">Delete Badge</a></button>
            {% else %}
            {% endif %}
            <!-- display their badges -->
            {% if earnedBadges %}
            {% for eb in earnedBadges %}
            <img src="../../media/{{ eb.badge.icon }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{eb.badge}}<br>
            {% endfor %}
            {% else %}
            No badges earned yet!
            {% endif %}
        </div>
        <br>
        <!-- display the places they've visited, in a list with icons -->
        <div id="recent_vists">
            <h3 class="grey">Places recently visited </h3>
            <!-- check the user has permissions to edit locations -->
            {% if permission %}
            <button class="small" type="add_location"><a href="/add_location">New Location</a></button>
            <button class="small" type="del_location"><a href="/del_location">Delete Location</a></button>
            {% else %}
            {% endif %}
            <!-- display their visits -->
            {% if visits %}
            {% for v in visits %}
            <img src="../../media/{{ v.location.icon }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{v.location}}<br>
            {% endfor %}
            {% else %}
            No places visited yet!
            {% endif %}
        </div>
        <br>
        <!-- triggers the user logging out -->
        <a href="/logout"><button class="submit" type="logout">Log out</button></a>
        <!-- returns the user to the splash screen without logging them out -->
        <a href="/splash"><button class="submit" type="exit">Exit</button></a>
    </div>
</div>
    
{% endblock %}