{% extends 'registration/header.html' %}
{% load static %}
{% block content %}


<div class="mobile-container" style="background-color:#24436d;">
    <!-- navigation -->
    <div class="topnav" id="links">
        <button class="icon"><a href="/settings"><img src="{% static 'images/settings.png' %}"></a></button>
    </div>
    <h1 class="grey">Welcome!</h1>
    <div class="button-container">
        <button class="login" type="login"><a href="/login">Login</a></p></button>
        <button class="register" type="register"><a href="/register">Register</a></p></button>
    </div>
</div>

{% endblock %}