input[type=text],input[type=password] {
    width: 100%;
    padding: 12px 16px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #006400;
    box-sizing: border-box;
}
button {
    background-color: #006400;
    color: white;
    padding: 12px 16px;
    margin: 6px 0;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.5;
}
.container {
    padding: 12px;
}

span.password {
    float: right;
    padding-top: 12px;
}