/* --------- general formatting --------- */

/* for viewing on mobile - all html goes in a div of this class */
.mobile-container {
    max-width: 600px;
    padding: 12px;
    margin: auto;
    background-color: rgb(35, 46, 62,.8);
    z-index: 100;
    
}
/*--- standard background for all pages ---*/
body {
    background-image: url(../images/stars_bg.png);
    
    background-color:   #1b1c23;

}

.button-container {
    text-align: center;    
}  
#btn{
    background-color: #B55198;
    font-size: 25px;
    border: 7px solid #242F3E;
    width: 300px;  
    height: 200px;  
    padding-top: 100px;  
}

/* for viewing on a laptop */
.container {
    padding: 12px;
    margin: auto;
}

h1 {
    text-align: center;
}

p, label, div { /* default text colour */
    color: white;
}

/* to set colours */
.grey {
    color: #ececec;
}
.blue {
    color: #242F3E;
}
.black {
    color: #1D1B22;
}
.purple {
    color: #a43885;
}

button:hover {
    opacity: 0.5;
}

/* parallaxing */
.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .parallax__layer--base {
    transform: translateZ(0);
  }
  .parallax__layer--back {
    transform: translateZ(-1px);
  }

/* text inputs */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 16px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
}
input[type=number] {
    padding: 12px 16px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
}

/* any button that is okay/submit/done/go */
button.submit {
    background-color: #a43885;
    color: #ececec;
    padding: 12px 16px;
    margin: 6px 0;
    border: 0ch;
    width: 100%;
}

/* make the text colour uniform even when its a link */
button.submit a, button.small a {
    color: #ececec;
}

/* for the small change name button */
button.small {
    float: right;
    background-color: #a43885;
    color: #ececec;
    padding: 3px 4px;
    margin: 0 6px;
    border: 0ch;
    width: 20%;
}
.standard-button{
    background-color: #a43885;
    color: #ececec;
    border: none;
    padding: 5px;
}

.textInput{
    border:none;
}

a.standard-button{
    align-items: center;
}

a.standard-button:hover{
    text-decoration: none;
    color: #ececec;

}
a:link{
   color:#E79652; 
}

a.standard-button:link{
    color:#ececec; 
}

a:visited{
    color:#b46e35; 
}

a.standard-button:visisted{
    color:#ececec; 
}

div#edit_users button.small {
    float: none;
    width: 30%;
    margin: 0%;
}

div#edit_users button.small[type='del_user'] {
    margin: 0 4%;
}

/* --------- formatting the menu bar --------- */

.topnav {
    overflow: hidden;
    position: relative;
    height:50px;
}

/* styling the icon buttons */
button.icon, a.icon {
    width:25%;
    padding:0%;
    margin:0%;
    border:0ch;
    background-color: #a43885;
    color: white;
}

button.icon-selected{
    background-color:#E79652; 
}

/* ----------- formatting anything with icons ----------- */

/* icons always start with this opacity */
a.icon img, div#badges p img {
    opacity: 0.3;
    width:50px;
}

/* icons always start with this opacity  */
a.icon img, div#location p img {
    opacity: 0.3;
    width:50px;
}
/* sizing the navigation bar icons */
button.icon a img {
    width : 50px;
}

/* the images in the badge and locations lists */
div#badges p img, div#location p img {
    width:100px;
    padding-right: 20px;
    padding-left: 20px;
}

/* as above but for the settings page */
div#recent_vists img, div#badges_earned img {
    width:80px;
    padding: 10px;
}

/* the text with these lists */
div#badges p, div#location p, div#user_info p {
    font-size: large;
    text-indent: 1em;
    color: #dcdada;
}

div#badges p.incomplete {
    font-size: large;
    text-indent: 1em;
    color: #dcdada81;
}

div#location p.incomplete {
    font-size: large;
    text-indent: 1em;
    color: #dcdada81;
}


/* settings page headers */
div#recent_vists h3, div#badges_earned h3, div#user_info h3, div#edit_users h3 {
    text-align: center;
}

/* for the logo */

div.header-logo{
    width:100%;
}

img.header-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    padding:10px;
}