/* --------- general formatting --------- */

/* for viewing on mobile - all html goes in one big div of this class */
.button-container {
    text-align: center;    
}  
#btn{
    background-color: #682776;
    font-size: 25px;
    border: 7px solid #24436d;
        width: 300px;  
        height: 200px;  
        padding-top: 100px;  
}
.mobile-container {
    max-width: 600px;
    padding: 12px;
    margin: auto;
}

/* for looking at it on a laptop */
.container {
    padding: 12px;
    margin: auto;
}

h1 {
    text-align: center;
}

p, label, div { /* default text colour */
    color: white;
}

/* to set colours */
.grey {
    color: #dcdada;
    /*text-shadow: 0.25px 0.25px 4px white;*/
}

.blue {
    color: #24436d;
}
.black {
    color: #1D1B22;
}
.purple {
    color: #682776;
}

button:hover {
    opacity: 0.5;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 16px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #24436d;
    box-sizing: border-box;
}

/* for any button that is okay or submit or done or go */
button.submit {
    background-color: #682776;
    color: #b8b5b5;
    padding: 12px 16px;
    margin: 0%;
    border: 0ch;
    width: 100%;
}

/* --------- formatting the menu bar --------- */

.topnav {
    overflow: hidden;
    position: relative;
    height:50px;
}

button.icon, a.icon {
    width:25%;
    padding:0%;
    margin:0%;
    border:0ch;
    background-color: #682776;
    color: white;
}

button.icon img, a.icon img, div#badges p img {
    width:50px;
}

div#badges p {
    font-size: large;
    text-indent: 2em;
    color: #dcdada;
}

button.icon img, i.icon img, div#location p img {
    width:50px;
}

div#location p {
    font-size: large;
    text-indent: 2m;
    color: #dcdada;
}