/* --------- general formatting --------- */

/* for viewing on mobile - all html goes in a div of this class */
.mobile-container {
    max-width: 600px;
    padding: 12px;
    margin: auto;
    background-color: #24436d;
}
/*--- standard background for all pages ---*/
body {
    background-image: url(../images/stars_bg.png);
    background-color: black;
}

.button-container {
    text-align: center;    
}  
#btn{
    background-color: #682776;
    font-size: 25px;
    border: 7px solid #24436d;
    width: 300px;  
    height: 200px;  
    padding-top: 100px;  
}

/* for viewing on a laptop */
.container {
    padding: 12px;
    margin: auto;
}

h1 {
    text-align: center;
}

p, label, div { /* default text colour */
    color: white;
}

/* to set colours */
.grey {
    color: #dcdada;
}
.blue {
    color: #24436d;
}
.black {
    color: #1D1B22;
}
.purple {
    color: #682776;
}

button:hover {
    opacity: 0.5;
}

/* text inputs */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 16px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
}

/* any button that is okay/submit/done/go */
button.submit {
    background-color: #682776;
    color: #b8b5b5;
    padding: 12px 16px;
    margin: 0%;
    border: 0ch;
    width: 100%;
}

/* make the text colour uniform even when its a link */
button.submit a, button.small a {
    color: #b8b5b5;
}

/* for the small change name button */
button.small {
    float: right;
    background-color: #682776;
    color: #b8b5b5;
    padding: 3px 4px;
    margin: 0%;
    border: 0ch;
    width: 20%;
}

/* --------- formatting the menu bar --------- */

.topnav {
    overflow: hidden;
    position: relative;
    height:50px;
}

/* styling the icon buttons */
button.icon, a.icon {
    width:25%;
    padding:0%;
    margin:0%;
    border:0ch;
    background-color: #682776;
    color: white;
}

/* ----------- formatting anything with icons ----------- */

/* icons are always this size */
a.icon img, div#badges p img {
    opacity: 0.3;
    width:50px;
}

/* sizing the navigation bar icons */
button.icon a img {
    width : 50px;
}

/* the images in the badge and locations lists */
div#badges p img, div#location p img {
    width:100px;
    padding-right: 20px;
    padding-left: 20px;
}

/* as above but for the settings page */
div#recent_vists img, div#badges_earned img {
    width:80px;
    padding: 10px;
}

/* the text with these lists */
div#badges p, div#location p, div#user_info p {
    font-size: large;
    text-indent: 1em;
    color: #dcdada;
}

div#badges p.incomplete {
    font-size: large;
    text-indent: 1em;
    color: #dcdada81;
}

/* settings page headers */
div#recent_vists h3, div#badges_earned h3, div#user_info h3 {
    text-align: center;
}