/* --------- general formatting --------- */

/* for viewing on mobile - all html goes in one big div of this class */
.mobile-container {
    max-width: 480px;
    margin: auto;
}

/* for looking at it on a laptop */
.container {
    padding: 12px;
}

h1 {
    text-align: center;
    color: #FFFCDC;
    text-shadow: 0.25px 0.25px 4px #1D1B22;
}

button:hover {
    opacity: 0.5;
}

input[type=text],input[type=password] {
    width: 100%;
    padding: 12px 16px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #276BC9;
    box-sizing: border-box;
}

/* for any button that is okay or submit or done or go */
button.submit {
    background-color: #276BC9;
    color: white;
    padding: 12px 16px;
    margin: 0%;
    border: 0ch;
    width: 100%;
}

/* --------- formatting the menu bar --------- */

.topnav {
    overflow: hidden;
    position: relative;
    height:50px;
}

button.icon {
    width:25%;
    padding:0%;
    margin:0%;
    border:0ch;
    background-color: #2EE29D;
    color: white;
}

button.icon img {
    width:50px;
}